*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue02: hsla(209, 33%, 12%, 0.2);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 4.2em;
    width: 2.7em;
}

main h1 {
    font-size: 1.38rem;
    margin-top: 2.5rem;
}
.header__h1--light {
    font-weight: 300;
    color: var(--Gray);
}

main h2 {
    font-size: 0.6em;
    font-weight: 300;
    margin-top: .3125em;
}

.relative {
    position: relative;
}
.notify__email {
    border: 1px solid var(--Pale-Blue);
    border-radius: 100px;
    margin-top: 1.65em;
    width: 17.6rem;
    height: 2.5rem;
    padding: 0 3em;
}
.notify__email--error{
    border-color: var(--Light-Red);
}

.notify__email:focus {
    outline: none;
    box-shadow: 0 0 4px #000;
}

.notify__email__label {
    font-size: .8rem;
    font-weight: 300;
    color: var(--Pale-Blue);
    background: transparent;
    position: absolute;
    top: 2.7em;
    left: 3em;
}
.notify__email__label:hover {
    cursor: text;
}
.notify__email:focus ~ .notify__email__label,
.notify__email:not(:placeholder-shown) ~ .notify__email__label{
  z-index: -1;
}

.notify__error {
    color: var(--Light-Red);
    font-size: .505em;
    font-style: italic;
    font-weight: 600;
    margin-top: .6em;
}
.notify__error--hidden {
    display: none;
}

.notify__btn {
    font-size: .76rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 100px;
    background: var(--Blue);
    display: inline-block;
    margin-top: .79em;
    width: 17.6rem;
    height: 2.5rem;
    box-shadow: var(--Very-Dark-Blue02 ) 0px 5px 12px 0px;
    transition: transform 0.3s;
}
.notify__btn:focus {
    outline: none;
    opacity: .75;
}

.img-dashboard {
    width: 85%;
    margin-top: 3.4em;
}

.social {
    list-style: none;
    flex-direction: row;
    justify-content : center;
    padding: 0;
    margin-top: 6.04em;
}
i.fab {
    color: var(--Blue);
    font-size: 0.92rem;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border: 1px solid var(--Pale-Blue);
    border-radius: 100px;
    margin: 0 0.48em;
    transition: background-color 0.3s, color 0.3s;
}
.social a:focus {
    outline: none;
}
.social a:focus i.fab {
    background-color: var(--Blue);
    color: #fff;
}

.copyright {
    font-size: 0.625rem;
    text-align: center;
    color: var(--Gray);
    margin-top: 2.8em;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: var(--Light-Red);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: transform 0.2s, border-color 0.2s;
    display: inline-block;
}


@media (min-width: 1000px) {
    .logo {
        margin-top: 4.3em;
        width: 4.2em;
    }

    main h1 {
        font-size: 3.02rem;
        margin-top: 2.96rem;
    }
    
    main h2 {
        font-size: 1em;
        font-weight: 300;
        margin-top: -0.8em;
    }
    
    .notify {
        flex-direction: row;
        align-items: flex-end;
        margin-top: .2rem;
    }
    .notify__email {
        width: 31.6em;
        height: 3.4rem;
    }
    .notify__email__label {
        font-size: .75em;
    }
    .notify__btn {
        font-size: .75em;
        width: 12.4rem;
        height: 3.4rem;
        margin-left: 1em;
    }
    .notify__error {
        font-size: .75rem;
        position: absolute;
        top: 4.9rem;
        left: 1.8rem;
    }

    .img-dashboard {
        width: 642px;
        margin-top: 4.3em;
    }
    
    .social {
        margin-top: 3.6em;
    }

    .copyright {
        font-size: 0.75rem;
        margin-top: 2.05em;
    }
}

@media (hover: hover) and (pointer: fine) {
    .notify__btn:hover {
        transform: translateY(-0.25rem);
    }
    i.fab:hover {
        background-color: var(--Blue);
        color: #fff;
    }
    .attribution a:hover {
        transform: translateY(-0.25rem);
        border-color: var(--Light-Red);
    }
}